* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    font-family: sans-serif;
    color: #ddd;
}

a {
    text-decoration: none;
    color: #fff;
}

h1, h2 {
    color: #fff;
}

p {
    margin: 1rem;
}

header {
    background-color: crimson;
    height: 50vh;   
    display: grid;
    place-items: center;
}

nav {
    align-self: flex-start;
    width: 100%;
    padding: 0 20%;
    background-color: firebrick;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    nav ul {
        list-style-type: none;
        display: flex;
    }
        ul li {
            margin: 1rem;
            padding: .5rem 1rem;
        }

.animated-title {
    font-size: 15vh;
}
    .animated-title .letter {
        display: inline-block;
    }
        .animated-title .letter:nth-child(1) {
            animation: intro 4s ease-in-out 2s backwards,
                       jump .5s ease-out 8s backwards;
        }
        .animated-title .letter:nth-child(2) {
            animation: intro 4s ease-in-out 4s backwards,
                       jump .5s ease-out 8.25s backwards;
        }
        .animated-title .letter:nth-child(3) {
            animation: intro 4s ease-in-out 6s backwards,
                       jump .5s ease-out 8.5s backwards;
        }
    @keyframes intro {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        10% {
            opacity: 1;
            transform: scale(1.2);
        }
        15% {
            transform: scale(1.2);
        }
        20% {
            transform: scale(1);
        }
    }
    @keyframes jump {
        50% {
            transform: translateY(-1.25rem);
        }
    }

    .letter small {
        letter-spacing: .5rem;
    }

main {
    margin: 5rem 20%;
}

h2 {
    margin-bottom: 1rem;
}

hr {
    margin: 1rem 10rem;
}