body {
    background-color: #222;
    font-family: sans-serif;
    color: #ddd;
}

h1, h2, h3, h4 {
    color: #fff;
}

header {
    background-color: crimson;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}
    nav ul {
        list-style-type: none;
        display: flex;
    }
        ul li {
            margin: 0 1rem;
        }
            ul li a {
                text-decoration: none;
                color: #eee;
            }

main {
    margin: 5rem 20%;
}