.container {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}

.user {
    width: 15rem;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid #fff;
    box-shadow: 0 0 6px 3px #111;
}

.user--light-theme {
    background-color: #ccc;
}

.user__photo {
    width: 100%;
    display: block;
    border-radius: 50%;
    border: 6px solid cornflowerblue;
}
    .user--light-theme .user__photo {
        border-color: white;
    }

.user__name {
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}
    .user--light-theme .user__name {
        color: #222;
    }

.button {
    width: 100%;
    color: #222;
    font-size: 1rem;
    background-color: #ddd;
    border: none;
    outline: none;
    border-radius: .2rem;
    padding: .5rem .75rem;
    cursor: pointer;
}

.button--primary {
    background-color: cornflowerblue;
}