body, html {
    height: 100vh;
}

body {
    height: 100vh;
    background: #eee;
    font-family: 'Nunito', sans-serif;
}

.card {
    padding: 0 5rrem;
    margin: 5rem auto;
    width: 25rem;
    box-shadow: 0 10px 30px -10px #333;
}

.card__img {
    display: block;
    height: 15rem;
    width: 100%;
    background: powderblue;
    filter: invert(1);
}

.card__content {
    padding: 1.5rem;
    background: white;
}

.card__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.card__item {
    padding: .3rem .5rem;
    margin-right: .5rem;
    background: pink;
    border-radius: .3rem;
    font-size: .85rem;
}
    .card__item--active {
        background: orchid;
        font-weight: bold;
    }    

.card__link {
    background: crimson;
    color:#fff;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    margin-top: .5rem;
}
    .card__link:hover {
        background: firebrick;
    }

main {
    margin: 5rem 20%;
}