body {
    background-color: #333;
}

img {
    max-width: 100%;
    display: inline-block;
    border: 2px solid #111;
}

p {
    margin: 0;
}

.container {
    max-width: 65%;
    margin: 1rem auto;
    display: flex;
}

.card {
    margin: 3rem;
    padding: 2rem;
    max-width: 20rem;
    box-shadow: 0 10px 30px -10px crimson;
}

.card--light {
    background: #eee;
    color: #111;
}

.card--dark {
    background-color: #111;
}

.card-body {
    padding: 0;
}

.card__title {
    font-size: 1.5rem;
}